<html>
  <head>
    <title>Mario Kart Game Helper</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>
      <button id="randomize">Click me!</button>
  </body>
  <script>
    $(document).ready(() => {
      $("#randomize").click(() => {
        $.post(
          "/command",
          {
            game: "mario-kart",
            function: "randomize"
          }
        )
      })
    })
  </script>
</html>
